.AllProducts .container .title {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .AllProducts .container .title {
    text-align: left;
  }
}

.AllProducts .container .title span {
  color: #777;
}

.AllProducts .container .title span:first-of-type {
  color: #2887bf;
  font-weight: 600;
  cursor: pointer;
}

.AllProducts .container .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .AllProducts .container .search {
    flex-direction: column;
    gap: 15px;
    align-items: flex-end;
  }
}

.AllProducts .container .search input {
  width: 400px;
  padding: 8px 8px 8px 10px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  caret-color: #2887bf;
  transition: 0.3s;
}

@media (max-width: 767px) {
  .AllProducts .container .search input {
    width: 100%;
  }
}

.AllProducts .container .search input:focus {
  border: 1px solid #2887bf;
}

.AllProducts .container .search p {
  color: #777;
  font-size: 14px;
}

.AllProducts .container .products {
  margin-top: 20px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 50px;
}

.AllProducts .container .products .no-items {
  font-size: 1.2rem;
  font-weight: bold;
  color: #777;
  margin: 64px 0 64px 8px;
  width: 400px;
}

@media (max-width: 767px) {
  .AllProducts .container .products .no-items {
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
  }
}
