.Home .landing {
  margin-top: 30px;
}

@media (max-width: 767px) {
  .Home .landing {
    margin-top: 0;
  }
}

.Home .landing .img {
  background-image: url("/landing-largeScreen.svg");
  background-size: cover;
  height: 400px;
  background-position: bottom;
  padding: 0 15px;
  margin: auto;
}

@media (max-width: 767px) {
  .Home .landing .img {
    height: 450px;
    background-position: center -50px;
  }
}

@media (min-width: 768px) {
  .Home .landing .img {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .Home .landing .img {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .Home .landing .img {
    width: 1170px;
  }
}



.Home .some-products .container {
  margin-top: 80px;
  margin-bottom: 80px;
}

.Home .some-products .container h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.Home .some-products .container .productItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 50px;
}

.Home .some-products .container .show-all {
  all: unset;
  border: 2px solid #2887bf;
  display: block;
  margin: 60px auto 0px;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  color: #2887bf;
}

.Home .some-products .container .show-all:hover {
  background-color: #2887bf;
  color: white;
}
