.footer .top {
  background-color: #2887bf;
  color: white;
}

.footer .top .container {
  padding: 50px 15px;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

@media (max-width: 767px) {
  .footer .top .container {
    flex-direction: column;
    text-align: center;
    gap: 50px;
  }
}

.footer .top .container > div {
  flex: 1;
}

.footer .top .container h3 {
  margin-bottom: 20px;
}

.footer .top .container .col-one p {
  font-size: 14px;
  line-height: 1.7;
}

.footer .top .container .col-one a.login {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  width: fit-content;
}

.footer .top .container .col-one a.login:hover {
  text-decoration: underline;
}

.footer .top .container .col-two .icons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
}

@media (max-width: 767px) {
  .footer .top .container .col-two .icons {
    justify-content: center;
  }
}

@keyframes showContact {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.footer .top .container .col-two .icons a {
  color: white;
  position: relative;
}

.footer .top .container .col-two .icons a:not(:last-child)::before {
  position: absolute;
  top: -44px;
  width: 151px;
  font-size: 14px;
  background-color: #25d366;
  color: white;
  padding: 5px 10px;
  z-index: 10;
  border-radius: 10px;
  text-align: center;
  box-shadow: 1px 4px 10px 1px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  opacity: 0;
}

.footer .top .container .col-two .icons a:not(:last-child)::after {
  content: "";
  position: absolute;
  top: -15px;
  border-width: 10px;
  border-style: solid;
  border-color: #25d366 transparent transparent transparent;
  z-index: 11;
  opacity: 0;
}

.footer .top .container .col-two .icons a.abed-whats:hover::before {
  animation: showContact 0.6s forwards;
  content: "Eng.Abed Qashqeesh";
  left: -130px;
}

.footer .top .container .col-two .icons a.abed-whats:hover:after {
  left: 9px;
  animation: showContact 0.6s forwards;
}

.footer .top .container .col-two .icons a.ayham-whats:hover::before {
  animation: showContact 0.6s forwards;
  content: "Ayham Qashqeesh";
  left: -130px;
}

.footer .top .container .col-two .icons a.ayham-whats:hover:after {
  left: 9px;
  animation: showContact 0.6s forwards;
}

.footer .top .container .col-two .icons i {
  padding: 8px;
  border-radius: 50%;
  border: 2px solid white;
  transition: 0.3s;
  cursor: pointer;
}

.footer .top .container .col-two .icons i:hover {
  background-color: white;
  color: #2887bf;
}

.footer .copyright {
  background-color: #19587c;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-weight: 600;
}

.footer .copyright .container {
  cursor: pointer;
}
